.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 90vw;
   height: 100vh;
   margin:1% 5%;
}
.signup-text{
    font-size: 2rem;
    font-weight: 600;
}

.login-text{
    font-size: 2rem;
    position: relative;
    top: -100%;
    font-weight: 700;
}
.signup-form-container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 350px;
    
}
.login-form-container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 350px;
    position: relative;
    top: -15%;
}

@media screen and (max-width:450px) {
.signup-form-container,.login-form-container{
    width: 300px;
}
}